body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-image: url('./assets/backgroundImage.webp');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; 
  background-color: rgb(75, 42, 16);
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  font-family: Garamond, serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#navbar a {
  color: white
}

#potion-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#start-game {
  height: 50vh;
  display: flex;
  justify-content: center;
}

#manage-account {
  font-family: 'Tangerine', cursive;
  font-size: 3.5rem;
}

.bubble-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bubble {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  animation: bubble 3s ease-out infinite;
}

.custom-bullet {
  list-style-type: none;
}

.custom-bullet li:before {
  content: "\2022";
  margin-right: 10px;
}

.bubble-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.bubble {
  position: absolute;
  bottom: 15%;
  background-color: #fff;
  border-radius: 50%;
  animation: bubble .9s ease-out infinite;
  opacity: 0; /* start the bubbles as hidden */
}

.bubble:nth-child(1) {
  width: 8px;
  height: 8px;
  animation-delay: .2s;
  left: 35%
}

.bubble:nth-child(2) {
  width: 10px;
  height: 10px;
  animation-delay: .1s;
  left: 40%
}

.bubble:nth-child(3) {
  width: 10px;
  height: 10px;
  animation-delay: .4s;
  left: 45%
}

.bubble:nth-child(4) {
  width: 8px;
  height: 8px;
  animation-delay: .8s;
  left: 50%
}

.bubble:nth-child(5) {
  width: 9px;
  height: 9px;
  animation-delay: .2s;
  left: 55%
}

.bubble:nth-child(6) {
  width: 8px;
  height: 8px;
  animation-delay: .5s;
  left: 60%
}

@keyframes bubble {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: .5;
  }
  50% {
      transform: translate(-40%, -400%) scale(2);
      opacity: 0;
    }
  100% {
    transform: translate(-60%, -400%) scale(3);
    opacity: 0;
  }
}

.ingredient {
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 30px;
  animation: moveIngredient 2s ease-in-out infinite;
}

@keyframes moveIngredient {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(100px, 100px);
  }
  100% {
    transform: translate(200px, 200px);
  }
}

.mixing-bowl {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 50%;
}